
<% comments.each do |comment|%>
<p>
  <strong><%= comment.user.username%></strong>
  [<%=  time_ago_in_words(comment.created_at) + ' ago'%>]:
  <%= comment.body %>
</p>
<p>
  <% if policy(comment).destroy? %>
  <%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete ,remote: true,class: 'btn btn-danger'  %>
  <%= link_to 'Edit', edit_post_comment_path(@post, comment) ,class: 'btn btn-primary' %>
  <%end%>
</p>
<hr>
<%end%>


