<div id="comment_pane">
<% comments.each do |comment|%>
<div id="comment">
<p>
  <strong><%= link_to comment.user.username, user_path(comment.user)%></strong>
  [<%=  time_ago(comment) + ' ago'%>]:
  <%= comment.body %>
</p>
</div>

<p>
  <%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete ,remote: true,class: 'btn btn-danger' if policy(comment).destroy? %>
  <%= link_to 'Edit', edit_post_comment_path(@post, comment) ,class: 'btn btn-primary' if policy(comment).edit? %>

</p>
<hr>
<%end%>
</div>


