<div class="conatiner user">
  <div class="row">
    <div class="col-sm-4 user-image">
      <%=image_tag (@user.image), class: 'rounded-circle' , size: "150x150" %>
    </div>
    <div class="col-sm-8">
      <div class="row user-username">
        <h2><%= @user.username%> <%= link_to 'Edit Profile' , edit_user_registration_path, class: 'btn btn-light border' if own_account(@user) %></h2>
      </div>
      <%if show?(@user)%>
      <div class="row user-username">
        <ul >
          <li><%= @user.posts.count%> <%= (@user.posts.count) == 1 ? 'Post' : 'Posts' %></li>
          <li><%= @user.followers.count%> <%= (@user.followers.count) == 1 ? 'Follower' : 'Followers' %></li>
          <li><%= @user.followees.count%> Following </li>
        </ul>
      </div>
      <%else%>
      <h3>Private Account</h3>
      <%end%>
      <div class="row user-username">
        <span><%= @user.full_name%></span>
      </div>
      <%=  render 'follow'  %>
    </div>
  </div>
  <section class="" style="margin-top:5%">
    <% story=@user.stories.all%>
    <%= render 'stories/story' , story: story%>
  </section>
  <div class="container">
    <%= link_to 'Create a new Post' , new_post_path ,class:'btn btn-primary' if own_account(@user) %>
    <%= link_to 'Create a new Story' ,  new_story_path , class:'btn btn-success' if own_account(@user) %>
  </div>
  <hr>
  <h2 style="text-align:center">Posts</h2>
  <%if show?(@user)%>
  <% @user.posts.each do |post|%>
  <%= link_to post_path(post) do%>
    <div class="post-container postData-container">
      <%= render 'posts/post' , post: post%>
    </div>
  <%end%>
<%end%>
<%else%>
<h3>Private Account</h3>
<%end%>
</div>
