<%= form_with model: @post, remote: true do |f| %>
<%= render "devise/shared/error_messages", resource: @post %>
<div class="form-group">
    <%= f.label :caption %><br />
    <%= f.text_area  :caption , autofocus: true  %>
</div>

<div class="form-group">
    <%= f.label :images %><br />
    <%= f.file_field :images , accept:'image/*',multiple: true %>
  </div>

<div class="actions">
    <%= f.submit  %>
</div>
<%end%>
