<div class="card">
  <div class="top">
    <div class="userDetails">
      <div class="profile_img">
        <%=image_tag (post.user.image), class: 'cover' %>
      </div>
      <h3><%= post.username%><br>
        <span><%=  time_ago_in_words(post.created_at) + ' ago'%></span></h3>
    </div>
    <div >
      <% if policy(post.user).update? %>
        <%= link_to 'Edit Post' , edit_post_path(post) , class: 'btn btn-primary'  %>
      <% end %>
      <% if policy(post.user).destroy? %>
        <%= link_to 'Delete Post' , post_path(post), method: :delete ,class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
  <div class="imgBx">
    <ol class="carousel-indicators">
      <% post.images.each_with_index do |slide, i| %>
        <li data-target="#mycarousel" data-slide-to=<%="#{i}"%> class="<%='active' if i==0 %>"></li>
      <% end %>
    </ol>
    <div class="carousel slide" data-ride="carousel" data-interval="2000">
      <div class="carousel-inner">
        <% post.images.each_with_index do |image,i|%>
          <div class="carousel-item<%=' active' if i==0 %>">
            <%=image_tag (image ), class: 'fill img-responsive' %>
          </div>
        <%end%>
      </div>
    </div>

  </div>
  <div class="actionBtns">
    <div class="left">
      <% pre_like = post.likes.find {|like| like.user_id == current_user.id } %>
      <% if pre_like %>
        <%= link_to  post_like_path(post, pre_like) , method: :delete , remote: true do%>
          <%= image_tag('heart_red.png' ,:class => "heart") %>
        <%end%>
      <% else %>
        <%= link_to   post_likes_path(post) ,method: :post ,remote: true do %>
          <%= image_tag('heart.png' ,:class => "heart") %>
        <%end%>
      <% end %>
      <%= image_tag('comment.png')%>
    </div>
  </div>
  <h4 class="likes"><%= post.likes.count %> <%= (post.likes.count) == 1 ? ' like' : ' likes' %></h4>
  <h4 class="message"><b><%= post.username%></b> <%= post.caption%></h4>
  <h4 class="comments">view all <%=post.comments.count%> <%= (post.comments.count) == 1 ? ' comment' : ' comments' %></h4>
</div>
