<div class="container border">
<%= post.full_name %></h3>
<br>
<span><%= post.username%></span>
<br>
<%=  time_ago_in_words(post.created_at) + ' ago'%>
<br>
<h3><%= post.caption%></h3>
<br>

<% post.images.each do |image|%>
  <%=image_tag (image), size: "200x200" %>
<%end%>

<%= render "likes/like" , post: post %>

<div class="container border">
<h2>Comments</h2>
<%= render partial: 'comments/comment' , comments: @comments %>
</div>
<div class="container border">
<%= render 'comments/form' %>
</div>
</div>
