<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>
  <body>
    <%= render 'layouts/navbar'%>
    <br>
    <br>
    <br>
    <% if notice %>
      <p class='alert alert-success' role='alert'><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class='alert alert-warning' role='alert'><%= alert %></p>
    <% end %>
    <% if error %>
    <div class="alert alert-danger" role="alert">
      <p><%= pluralize(error.count, 'error') %> Prohibited record from being saved.</p>
      <ul>
        <% error.each do |message| %>
          <li ><%= message  %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= yield %>
    <br>
    <%= render 'layouts/footer'%>
  </body>
</html>
